@CHARSET "UTF-8";

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	width: 100%;
}

.oneColFixCtr #container {
	width: 780px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	margin: 0 auto;
	margin-bottom: 0px;
border: 0;
	text-align: left;
}
.oneColFixCtr #mainContent {
	padding: 0; /* remember that padding is the space inside the div box and margin is the space outside the div box */
 	margin-top: 5px;
	margin-bottom: 5px;
	background-image: url("../images/bg.jpg");
}
-->

.oneColFixCtr #header1 {
	background: #333333;
	margin-bottom: 0;
	width: 100%;
	border: 0;
	border-width: 0;
	padding: 0;
	background-image: url(../images/bg.jpg);
	height: 66px;
}

.oneColFixCtr img {
	border: none;
}
.oneColFixCtr #h2hlogo {
	margin: 0;
	width: 100px;
	height: 66px;
	border: 10px;
	border-width: 0;
	padding: 0;
	background-image: url("../images/h2h-logo.jpg");	
	background-repeat: no-repeat;
	float: left;
}

.oneColFixCtr #h2htext {
	margin-top: 5px;
	width: 85%;
	height: 56px;
	border: 0;
	border-width: 0;
	padding: 0;	
	background-repeat: no-repeat;
	float: left;
	align: center;
	background-image: url(../images/h2h-text.jpg);
	background-position: center;
}


.oneColFixCtr #menubar {
	margin-top: 0px;
	width: 100%;
	height: 24px;
	border: 0;
	border-width: 0;
	padding: 0;	
    background-image: url("../images/h2h-menu.jpg");
	background-repeat: no-repeat;
	float: left;
}

.oneColFixCtr #horizontalbar {
	margin-top: 0px;
	margin: 0px;
	width: 100%;
	height: 24px;
	border: 0;
	border-width: 0;
	padding: 0;	
	background-image: url("../images/banner-middle-revised2.png");
    background-repeat: no-repeat;
	float: left;
}

.oneColFixCtr #notebook {
	margin-top: 15px;
	width: 100%;
	height: 900px;
	border: 0;
	border-width: 0;
	padding: 0;
	background-image: url("../images/main.png");
	background-repeat: no-repeat;
	float: left;
	background-position: top center;
}

.oneColFixCtr #menulist {
	list-style-type: none;
	margin: 0;
	padding: 0;

	color:#000000;
	font-family:"Tahoma","Lucida Grande","Verdana","Helvetica",sans-serif;
	font-size:12px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:15px;
}
.style35 {
        color: black;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
}

.oneColFixCtr #home {
	margin: 0;
	width: 75px;
	height: 24px;
	border: 0;
	border-width: 0;
	padding: 0;
	float: left;

}
.oneColFixCtr #about {
	margin: 0;
	width: 120px;
	height: 24px;
	border: 0;
	border-width: 0;
	padding: 0;	
	background-image: url("../images/menu-select2.jpg");
	float: left;
}
.oneColFixCtr #contact {
	margin: 0;
	width: 120px;
	height: 24px;
	border: 0;
	border-width: 0;
	padding: 0;	

	float: left;
}.oneColFixCtr #services {
	margin: 0;
	width: 120px;
	height: 24px;
	border: 0;
	border-width: 0;
	padding: 0;	

	float: left;
}
.style1 {font-family: Tahoma, Verdana;
vertical-align: middle;
}

.style17 {font-family: Tahoma, Verdana;
vertical-align: middle;
}

.style1 a
{
	color:#FFFFFF;
	display:block;
	font-weight:normal;
	font-size: 12px;
	padding:4px 14px 5px 15px;
	text-decoration:none;
}

.style17 a
{
	color:#FFFFFF;
	display:block;
	font-weight:normal;
	font-size: 12px;
	padding:4px 14px 5px 15px;
	text-decoration:none;
}

.style1 a:hover 
{
	background:#AFAEA9 url("../images/menu-select2.jpg") repeat-x scroll left top;
	color:#FFFFFF;
	/*display:block;*/
	font-weight:normal;
	font-size: 12px;
	padding:4px 14px 5px 15px;
	text-decoration:underline;
	}
#notebook h2 {
	color: #330099;
	font-size: 1.4em;
	font-weight: normal;
	font-family:Helvetica,"Trebuchet MS", Arial,sans-serif;
	font-size:1.4em;
	line-height:1.5em;
}

.style17 a:hover 
{
	
	color:#FFFFFF;
	/*display:block;*/
	font-weight:normal;
	font-size: 12px;
	padding:4px 14px 5px 15px;
	text-decoration:underline;
	background-image: url('../images/topleft.jpg')
}

.oneColFixCtr #mainbanner {
	margin: 0px;
	width: 100%;
	height: 325px;
	border: 0;
	border-width: 0;
	padding: 0;
	float: left;
	background-image: url("../images/panel.jpg");
}

.oneColFixCtr #flashimage {
	margin: 19px;
	margin-top: 15px;
	width: 510px;
	height: 280px;
	border: 0;
	border-width: 0;
	padding: 0;
	float: left;
	border-left: 0;
}

.oneColFixCtr #flashholder {
	margin: 7px;
	width: 545px;
	height: 312px;
	border: 0;
	border-width: 0;
	padding: 0;
	float: left;
	background-image: url("../images/dude-wide.jpg");
	background-position: center;
	border-left: 0;
}

.oneColFixCtr #brendapitch {
	margin: 0px;
	width: 210px;
	height: 325px;
	border: 0;
	border-width: 0;
	padding: 0;
	float: left;
	background-image: url("../images/brenda-ie6.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
}



.oneColFixCtr #brendapitch img {
	float: right;
	
	
}




.oneColFixCtr #notebook {
	margin: 7px;
	width: 510px;
	border: 0;
	border-width: 0;
	float: left;
	background-color: #FFFFFF;
	background-position: left;
	background-image: none;
	border-right:3px solid #000000;
	padding-left: 15px;
	padding-right: 15px;
	height: auto;
}

.oneColFixCtr #notebook li {
	color: #330099;
}

.blacktext {
	color: black;
}

.oneColFixCtr #bookingbar {
	width: 200px;
	border: 0;
	border-width: 0;
	padding: 0;
	float: left;
	background-color:#CC9933;
	margin-left: 0px;
	margin-right: 0px;
	height: 330px;
    padding-left: 15px;
    padding-top: 13px;
}

.oneColFixCtr #endtext {

	
	border:0;
	margin: 0;
}

.oneColFixCtr #mainsection {
	margin: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: auto;
	border: 0;
	border-width: 0;
	padding: 0;
	float: left;
	background-image: url("../images/newbd.jpg");
}


.oneColFixCtr #maintext {
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom:0px;
	width: 550px;
	height: 420px;
	border: 0px;
	
	float: left;
}

.style3 {
	font-size: 12px;
	font-family: Tahoma, Verdana;
	font-weight: bold;
}
.style7 {
	font-size: 9pt;
	color: #374132;
	font-family: Tahoma, Verdana;
	font-weight: bold;
	margin: 5px;

}
.style8 {
	color: #52009C;
	font-size: 12px;
	margin: 5px;
margin-top:10px;
}
.style8 a {
	text-decoration: none;
	color: #52009C;

}
.style8 a:hover {
	text-decoration: underline;

}
.style5 {
	color: #99CC66
}
#apDiv1 {
	position:absolute;
	left:348px;
	top:510px;
	width:452px;
	height:356px;
	z-index:1;
}
#apDiv2 {
	position:absolute;
	left:267px;
	top:117px;
	width:512px;
	height:279px;
	z-index:2;
}
#apDiv3 {
	position:absolute;
	left:876px;
	top:472px;
	width:192px;
	height:214px;
	z-index:2;
}
.style30 {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

h3 {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #330099;
	font-weight: bold;
	padding-top: 20px;
}
